# Folder view configuration files
.DS_Store
**/.DS_Store
desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# COMPASS
.sass-cache
.bundle

# Files that might appear on external disks
.Spotlight-V100
.Trashes

.byebug_history
